footer {
  text-align: center;
  font-size: 0.8em;
  color:white;
}
.footer-base{
    border-top: solid 1px #0e1318;
    background-color: #172029;
    color: white;
}
.footer-base p{
    margin: 0px;
}
.footer-copyright{
    padding-top: 7px;
    font-size: 1.20em;
}

.footer-social ul{
    list-style: none;
    height: 100%;
    display: block;
    margin: 0;
}
.footer-social li{
    float:left;    
    border-left: solid 1px #0a0e12;
    margin-right: -1px;
}
.footer-social li:hover{
    background-color: #0a1118;
}
.footer-social li:last-child{
    float:left;    
    border-left: solid 1px #0a0e12;
    border-right: solid 1px black;
}

.footer-social li a{
    display: block;
    width: 40px;
    height: 100%;
    min-height: 35px;
    padding-top: 8px;
    color:white;
}