<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Onde estamos?</h3>
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>
                            <span>Rua 25 de Março S/N, B. Santo Antônio</span>
                            Santa Teresa - ES
                        </p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>(27) 3145 - 1200</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:contato@ongbook.org">contato@ongbook.org</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <iframe class="fmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1876.6724677885798!2d-40.657600862032346!3d-19.825352797283937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb7764cb2fb7681%3A0x3a971f1a25c069a0!2sSanto+Ant%C3%B4nio+do+Cana%C3%A3%2C+Santa+Teresa+-+ES!5e0!3m2!1spt-BR!2sbr!4v1480697591033" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <h3>Newsletter</h3>
                    <p>Inscreva-se na nossa newsletter para ficar por dentro das novidades e ajudar nossa causa.</p>
                    <br/>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="nome@email.com">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Inscrever!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-base">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-copyright">
                    <p class="pull-left">Copyright 2016 - Ongbook.org </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-social">
                    <ul class="pull-right">
                        <li>
                            <a href="">
                                <span class="fa fa-facebook fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-twitter fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-google-plus fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-linkedin fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-github fa-lg"></span>
                            </a>
                        </li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>  
</footer>
