<footer>
    <div class="footer-base">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-copyright">
                    <p class="pull-left">Copyright 2016 - Ongbook.org </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-social">
                    <ul class="pull-right">
                        <li>
                            <a href="">
                                <span class="fa fa-facebook fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-twitter fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-google-plus fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-linkedin fa-lg"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="fa fa-github fa-lg"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
