header{
    margin: 0px;
    padding: 0px;
}
app-header{
    margin: 0px;
    padding: 0px;
}
.navbar-default {
  background-color: #43607d;
  border-color: #2d4052;
}
.navbar-default .navbar-brand {
  color: #f7fbff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9cb0c4;
}
.navbar-default .navbar-text {
  color: #f7fbff;
}
.navbar-default .navbar-nav > li > a {
  color: #f7fbff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9cb0c4;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #9cb0c4;
  background-color: #2d4052;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #9cb0c4;
  background-color: #2d4052;
}
.navbar-default .navbar-toggle {
  border-color: #2d4052;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2d4052;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f7fbff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f7fbff;
}
.navbar-default .navbar-link {
  color: #f7fbff;
}
.navbar-default .navbar-link:hover {
  color: #9cb0c4;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f7fbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9cb0c4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9cb0c4;
    background-color: #2d4052;
  }
}

.navbar-brand img{
    margin-top: -14px;
    height: 62px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
