<header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['']">
                    <img src="img/logo.png" alt="logo ongbook" />
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['about']">Parceiros?</a></li>
                    <li><a href="#about">Atua em alguma ONG?</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">O que é</a></li>
                    <li><a href="#about">Apoie</a></li>
                    <li>
                        <p class="navbar-btn">
                            <a [routerLink]="['registrar']" class="btn btn-default">Cadastre-se</a>
                        </p>
                    </li>
                </ul>


            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>
