<div id="mapContainer" style="height:600px; position:relative;">
    
    <google-map></google-map>

    <div class="mapTip" id="mapTip" onclick="$(this).hide()">
        <img src="img/map_tip.png" alt="tip" />
    </div>

    <div class="overMap" id="overMap">
        <div class="container">
            <h1>Entidades Sociais a sua volta, você conhece?</h1>

            <h2>Um local para Solidários conhecerem as necessidades de Entidades que trabalham para surprir problemas sociais.</h2>

            <button onclick="mapGetStarted()" class="btn btn-default">Conheça Agora</button>
        </div>
    </div>
</div>

<div class="color3 fgWhite padding50">
    <div class="container">
        <h1 class="text-center">Queremos e fazemos</h1>
        <p class="text-center">Catálogo de Entidades Sociais e suas necessidade, daquelas com as causas mais nobres do planeta.</p>
        <p class="text-center">Todas engajadas em prol dos Objetivos de Desenvolvimento do Milênio</p>

        <div class="row">
            <div class="col-md-6">
                <h3>Metas</h3>
                <b>Para as Entidades Sociais</b>
                <ul>
                    <li>Dar visibilidade aos seus projetos sociais.</li>
                    <li>Manter a população informada de suas atividade diárias.</li>
                    <li>
                        Gerir suas necessidades (postar, manter e dar feedback dos resultados).
                        <ul>
                            <li>Necessidade de um determinado material.</li>
                            <li>Necessidade de dinheiro para comprar o material.</li>
                            <li>Necessidade de trabalho voluntário.</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/doHnLiAzQ5M" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p>
                        <span>Rua 25 de Março S/N, B. Santo Antônio</span>
                        Santa Teresa - ES
                    </p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>(27) 3145 - 1200</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:contato@ongbook.org">contato@ongbook.org</a></p>
                </div>

            </div>
            <div class="col-md-4">
                <p class="footer-company-about">
                    <span>Ongbook na web</span>
                    Junte-se ao nosso movimento nas redes sociais
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>
            </div>
        </div>
    </div>
</div>
