<div id="fullpage">
    
    <section class="section" id="section0" >
        <div id="map-container">
            
            <google-map></google-map>

            <div id="map-tip" onclick="$(this).hide()">
                <img src="img/map/map_tip.png" alt="tip" />
            </div>

            <div class="over-map" id="over-map">
                <div class="container">
                    <h1>
                        Entidades Sociais a sua volta, você conhece?
                    </h1>

                    <h2>
                        Um local para Solidários conhecerem as necessidades de Entidades que trabalham para resolver problemas sociais.
                    </h2>

                    <button onclick="mapGetStarted()" class="btn btn-default">
                        Conheça Agora
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="section1">
        <div class="container">
            <h1>Queremos e fazemos</h1>
            <h4>Catálogo de Entidades Sociais e suas necessidade, daquelas com as causas mais nobres do planeta. <br>Todas engajadas em prol dos <a href="https://nacoesunidas.org/pos2015/agenda2030/" target="_blank">Objetivos de Desenvolvimento Sustentável</a>.</h4>
            <div class="row">
                <h2>Metas</h2>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Para as Entidades Sociais</h3>
                            <ul>
                                <li>Dar visibilidade aos seus projetos sociais</li>
                                <li>Manter a população informada de suas atividade diárias</li>
                                <li>
                                    Gerir suas necessidades: (postar, manter e dar feedback dos resultados)
                                    <ul>
                                        <li>Necessidade de trabalho voluntário.</li>
                                        <li>Necessidade de um determinado material;</li>
                                        <li>Necessidade de dinheiro para comprar o material;</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Para os usuários com perfil Solidário</h3>
                            <ul>
                                <li>Informações categorizadas de atividades sociais</li>
                                <li>Oportunidade de exercer atividades filantrópicas, exercer a cidadania</li>
                                <li>Receber notificações nas redes sociais de atividades sociais com o seu perfil</li>
                                <li>Contribuir para melhoria da aplicação, caso seja desenvolvedor</li>
                            </ul>
                            <br><br>
                        </div>
                    </div>
                </div>
                <br>
                <blockquote class="pull-right">
                    <h5>"O que conta não é o quanto você tem, e sim, o quanto você contribui".</h5>
                    <small>Peter Drucker em <cite title="Drucker Institute"><a href="http://www.druckerinstitute.com/drucker-nonprofit-innovation-award/" target="_blank">NONPROFIT</a></cite>. <a href="http://migre.me/mRmc2" target="_blank">Slide</a></small>
                </blockquote>
                <i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i>
            </div>
        </div>
    </section>

    <section class="section" id="section2">
        <div class="contributors">
            <div class="container">
                <h2>Nossos Colaboradores</h2>
                <p>Pessoas de espírito solidário juntos na nossa luta!</p>
                <div id="org-members">
                    <div class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section fp-auto-height" id="section3">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Onde estamos?</h3>
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>
                                <span>Rua 25 de Março S/N, B. Santo Antônio</span> Santa Teresa - ES
                            </p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>(27) 3145 - 1200</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p><a href="mailto:contato@ongbook.org">contato@ongbook.org</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <iframe class="fmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1876.6724677885798!2d-40.657600862032346!3d-19.825352797283937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb7764cb2fb7681%3A0x3a971f1a25c069a0!2sSanto+Ant%C3%B4nio+do+Cana%C3%A3%2C+Santa+Teresa+-+ES!5e0!3m2!1spt-BR!2sbr!4v1480697591033"
                            frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col-md-4">
                        <h3>Newsletter</h3>
                        <p>Inscreva-se na nossa newsletter para ficar por dentro das novidades e ajudar nossa causa.</p>
                        <br/>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="nome@email.com">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button">Inscrever!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
